<article class="{{post_class}} relative">
  <a href="{{url}}" class="relative block w-full h-full">
    <img
      src="{{img_url feature_image}}"
      alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
    >
    <div class="absolute bottom-0 text-white p-4 bg-gradient-to-t from-zinc-900 to-transparent w-full pt-20 whitespace-nowrap overflow-hidden text-ellipsis">
      <h2>
        {{title}}</h2>
    </div>
  </a>
</article>
