<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{asset "built/index.css"}}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplelightbox@2.14.3/dist/simple-lightbox.min.css">
  <script src="{{asset "built/index.js"}}" defer></script>

  <title>{{meta_title}}</title>

  {{ghost_head}}

</head>
<body class="{{body_class}} min-h-screen flex flex-col">

  {{> header}}

  <main class="flex-1">
    {{{body}}}
  </main>

  {{> footer}}

  {{ghost_foot}}

</body>
</html>
